{{ define "main" }}
  <div class="page-title"><h1>{{ .Title }}</h1></div>
  {{ .Content }}
  {{ if gt .Sections.Len 0 }}{{/*  Section doors  */}}
  <h1>Sections</h1>
  <div class="doors">
    {{ range .Sections }}
    <a href="{{ .RelPermalink }}">
      <h2>{{ .LinkTitle }}</h2><img>
    </a>
    {{ end }}
  </div>
  {{ end }}

  {{ if gt .RegularPages.Len 0 }}{{/*  Post table  */}}
  <h1>Pages</h1>
  <table>
    <tr>
      <td>Post title</td>
      <td>Publishing Date</td>
      <td>Read Time</td>
    </tr>
    {{ range .RegularPages }}
    <tr>
      {{ $dateMachine := .PublishDate | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .PublishDate | time.Format ":date_medium" }}
      <td><h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</h2></a></td>
      <td><time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></td>
      <td><h4>{{ .ReadingTime }} Min.</h4></td>
    </tr>
    {{ end }}
  </table>
  {{ end }}
{{ end }}
